#racetrack {
    background-color: beige;
    height: 200px;
    width: 1500px;
    display: flex;
    z-index: 0;
    
}
#starting-line {
    
    justify-self:flex-start;
    background-color: rgb(4, 167, 69);
    height: 100%;
    width: 5%;
    z-index: 2;
    
}
#finish-line{
    position: relative;
    left: 1300px;
    background-color: black;
    height: 100%;
    width: 5%;
    z-index: 2;
   
}

.racers-on-track{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}

#racer-one {
    background-color: rgba(254, 7, 7, 0.838);
    color: white;
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
    z-index: 3;
    position: relative;
    right:50px;
}

#racer-two {
    background-color: rgba(40, 7, 254, 0.838);
    display: block;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px; 
    z-index: 3;
    position: relative;
    right: 50px;
}
#racer-three {
    background-color: rgba(254, 184, 7, 0.838);
    display: block;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px; 
    z-index: 3;
    position: relative;
    right: 50px;
}
#racer-four {
    background-color: rgba(172, 7, 254, 0.838);
    display: block;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px; 
    z-index: 3;
    position: relative;
    right: 50px;
}

.racers {
    background-color: white;
}

#gameover {
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 50%;
    
}