@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poiret+One&family=UnifrakturCook:wght@700&display=swap');

body {
    background-color: rgb(110, 70, 123);
}
h1{
    color:rgba(254, 7, 7, 0.838);
    text-align: center;
    font-size: 100px;
    font-family: 'UnifrakturCook', cursive;
}
 h2{
    font-family: 'UnifrakturCook', cursive;
    font-size: 40px;
}
 
h3 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: 50px;
    right: auto;
}

#point-bank-display {
    position: absolute;
    right: 400px;
    display: inline-block;
    background-color: skyblue;
    border: 7px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

#point-bank-total {
    position: absolute;
    right: 300px;
    display: inline-block;
    background-color: skyblue;
    border: 7px solid rgb(248, 243, 243);
    border-radius: 10px;
    width: 75px;
    text-align: center;
}

#start-race{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: chocolate;
    color: black;
    font-family: 'UnifrakturCook', cursive;
    font-size: medium;
}
#place-bet {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: chocolate;
    color: black;
    font-family: 'UnifrakturCook', cursive;
    font-size: medium;
}
#check-if-won {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: chocolate;
    color: black;
    font-family: 'UnifrakturCook', cursive;
    font-size: medium;
}
/*
.betting-selection{

}

#bet-value-input */
#racetrack {
    background-color: rgb(72, 64, 33);
    height: 200px;
    width: 1500px;
    display: flex;
    z-index: 0;
    border: 3px solid white;
    border-radius: 10px;
    
}
#starting-line {
    
    justify-self:flex-start;
    background-color: rgb(4, 167, 69);
    height: 100%;
    width: 5%;
    z-index: 2;
    border-radius: 9px;
    
}
#finish-line{
    position: relative;
    left: 1300px;
    background-color: black;
    height: 100%;
    width: 5%;
    z-index: 2;
    color: white;
    border-radius: 10px;
   
}

.racers-on-track{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
    
}

#racer-one {
    background-color: rgba(254, 7, 7, 0.838);
    background-image: url("images /turtle.gif ");
    color: white;
    text-align: right;
    display: block;
    height: 50px;
    width: 50px;
    z-index: 3;
    position: relative;
    right:50px;
}

#racer-two {
    background-color: rgba(40, 7, 254, 0.838);
    background-image: url("images /shark.gif ");
    display: block;
    color: white;
    text-align: right;
    height: 50px;
    width: 50px; 
    z-index: 3;
    position: relative;
    right: 50px;
}
#racer-three {
    background-color: rgba(254, 184, 7, 0.838);
    background-image: url("images /cat.gif ");
    display: block;
    color: white;
    text-align: right;
    height: 50px;
    width: 50px; 
    z-index: 3;
    position: relative;
    right: 50px;
}
#racer-four {
    background-color: rgba(172, 7, 254, 0.838);
    background-image: url("images /rabbit.gif ");
    display: block;
    color: white;
    text-align: right;
    height: 50px;
    width: 50px; 
    z-index: 3;
    position: relative;
    right: 50px;
}

.racers {
    background-color: white;
}

#gameover {
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 50%;
    
}
