@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poiret+One&family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=UnifrakturCook:wght@700&display=swap');
 /* font-family: 'Press Start 2P', cursive;  font-family: 'UnifrakturCook', cursive;*/
 

@media (max-width: 500px) {
 
 body {
    background-color: rgb(110, 70, 123); 
    zoom: 40%;
}
h1{
    color:rgba(254, 7, 7, 0.838);
    text-align: center;
    font-size: 75px;
    position: relative;
    left: 350px;
   
   
}
 h2{
    font-family: 'UnifrakturCook', cursive; 
        font-size: 50px;
}
 
h3 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: 50px;
    right: auto;
}

#racetrack {
    transform: rotate(90deg);
    position: relative;
    top: 700px;
    right: 200px;
    zoom: 130%;
    
}

#point-bank-total {
    position: relative;
    top: 150px;
    left:650px;
}

#start-race{
    position: absolute;
    zoom: 200%;   
    top: 300px;
    left: 150px;
    
}
#place-bet {
    zoom: 200%;
    top: 100px;
    left: -40px ;

}

#check-if-won {
    zoom: 200%;
    top: 150px;
    left: 200px;

}

.racers {
  display: block;
  top: 0px;
  left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  zoom: 125%;
}

#bet-value-input{
    display: block;
    width: 150px;
    height: 100px;
    top: 150px;
    left: 200px;
}

#rules {
    position:absolute;
    display:block;
    top: 1125px;
    left: 200px;
    zoom: 150%;
}

#music {
    display:block;
    top: 550px;
    left: 200px;
    zoom: 150%;
}

#music-off {
    display:block;
    top: 575px;
    left: 200px;
    zoom: 150%;
}

#rules-text {
    zoom:200%;
    width: 350px;
    right: 400px;
}

#messages {
    position:absolute;
    top: 1000px;
    left: 950px;
}

#gameover {
  position: absolute;
  top: 700px;
  left: 500px;

}


/*FOR FUTURE MEDIA QUERY CHANGES
@media (max-width: 1000px){
    laptop avg size
    restyle above elements
    to fit screen    
}
/* #starting-line {
   }
.title {
}
#finish-line{ 
}
#finish-text{  
}
#start-text{ 
}
.racers-on-track{ 
}
#racer-one {
}
#racer-two { 
}
#racer-three {   
}
#racer-four {  
}

 */

}